body {
    font-family: sans-serif;
    background-color: rgb(230, 230, 230);
}

.Cloudy {
    background-color: aqua;
    font-size: 25px;
    padding: 1%;
    text-indent: 5%;
}

.void {
    padding: 1%;
}

.voided {
    padding: .5%;
}

.searchBlock {
    background-color: yellow;
    padding: 1%;
    /* position: absolute; */
    /* position: relative; */
    /* padding-top: 50%;
    padding-bottom: 50%; */
}

#infoCard {
    background-color: white;
}

/* #futCard {
    background-color: white;
    border: 1px solid black;
} */

.btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.funFacts {
    text-align: center;
    padding: 1%;
    background-color: aqua;
}